.demo{
	margin-top: 150px;
	margin-left: 640px;
	background-color:rgb(255, 255, 153) ;
	height: 230px;
	width: 250px;
	text-align: center;
	border: 2px solid black;
	
}
.ab{
	margin-top: 20px;
}
input[type=text]{
    height: 50px;
 	width:210px;
 	border: 1px solid black;
}
input[type=button]{
	height: 30px;
	width: 50px;
}
h1{
	font-family: cursive;
	text-align: center;
	color: white;

}
body{
	background-color:rgb(77, 0, 0);
	text-align: center;

}